#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(100, 108, 255);
}

.header ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.header li a {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #f9f9f9;
}

.header .logo a {
  text-decoration: none;
  color: #f9f9f9;
}
